@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.no-scrollbar *::-webkit-scrollbar {
  display: none !important;
}
