@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.no-scrollbar *::-webkit-scrollbar {
  display: none !important;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-delay: 0 !important;
}
