 <footer class="mt-32 pt-8 border-t-2 border-dashed border-stone-400/30 text-sm text-stone-500 flex flex-col md:flex-row justify-between opacity-80">
     <p class="mb-2 md:mb-0">Built with a mechanical mind on Linux.</p>
     <div class="space-x-4">
         <a href="#" class="hover:text-teal-700">[github]</a>
         <a href="#" class="hover:text-teal-700">[mastodon]</a>
     </div>
 </footer>
