<header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 border-b border-stone-400/30 pb-6">
    <div class="mb-4 md:mb-0">
        <h1 class="text-xl font-bold tracking-tight text-orange-800">
            <a href="/"><span class="text-stone-500 mr-1">$</span> vesl.et</a>
        </h1>
    </div>
    <nav class="space-x-6 text-sm lowercase">
        <a href="/logs" class="hover:text-teal-700 hover:underline underline-offset-4 decoration-2">[logs]</a>
        <a href="/categories" class="hover:text-teal-700 hover:underline underline-offset-4 decoration-2">[categories]</a>
        <a href="/rss.xml" class="hover:text-teal-700 hover:underline underline-offset-4 decoration-2">[rss]</a>
    </nav>
</header>
